main {
    padding: 0;
    margin: 0;
  }
  
  main > .sec-two {
    width: 100%;
    height: 700px;
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 87px;
  }
  main > .sec-two > h2 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
  }
  main > .sec-two > p {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
    margin-top: 40px;
  }
  main > .sec-two > article {
    display: grid;
    justify-content: center;

    gap: 40px;
    grid-template-areas: ' left  right ' ;
    grid-template-columns: repeat(auto-fit,  416px);
 
  }
  .item1 { grid-area: left; }
  .item2 { grid-area: right; }



  main > .sec-two > article > p {
    text-align: left;
    margin-top: 48px;
    width: 416px;
    height: 172px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
  }
  main > .sec-two > button {
    padding: 5px 18px;
    font-family: "Oswald Regular";
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #ffffff;
    background: #55c2d8;
    border-radius: 18px;
    border: none;
  }

  
  main > .sec-three {
    width: 100%;
  
    height: 666px;
    background-image: url(../assets/background-last.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 87px;
    position: relative;
  }
  main > .sec-three > .bg-color-overly {
    top: 0;
    position: absolute;
    background-color: rgba(140, 79, 42, 0.3);
    width: 100%;
    height: 666px;
    z-index: 10;
  }
  main > .sec-three > .bg-color-overly > h2 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #ffffff;
    margin-top: 35px;
  }
  main > .sec-three > .bg-color-overly > button {
    margin-top: 53px;
    width: 150px;
    height: 150px;
    left: 525px;
    top: 1754px;
    background: #39c2d7;
    border-radius: 50%;
    border: none;
  }
  main > .sec-three > .bg-color-overly > button > span {
    padding-left: 10px;
    font-size: 70px;
    color: #ffffff;
    border-radius: 2px;
  }
  
  main > .sec-three > .bg-color-overly > h3 {
    margin-top: 70px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
  }